VITE_FIREBASE_API_KEY=AIzaSyCNKMGcD8aI6cKGv235yEV73swLOt9iQXU
VITE_FIREBASE_AUTH_DOMAIN=uccopaints.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uccopaints
VITE_FIREBASE_STORAGE_BUCKET=uccopaints.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=766158852191
VITE_FIREBASE_APP_ID=1:766158852191:web:395c40c7104f08009dcbea

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
VITE_CLOUDINARY_API_KEY=your_api_key
VITE_CLOUDINARY_API_SECRET=your_api_secret