rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Banners folder
    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Products folder
    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Categories folder
    match /categories/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
